{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<h1>Welcome to Plaza, {% if name %}{{name}}{% else %}Anonymous{% endif %}!</h1>
<div class="page-header">
    {% if not known %}
    <p>Mucho gusto! (Nice to meet you!)</p>
    {% else %}
    <p>Here's your content</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
{% endblock page_content %}

